#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  position: fixed;
  top: 0;
  background-color: #abc1d1;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* animation: fadeIn 0.8s linear;  */
}

.chat-timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 25px;
}

@keyframes fadeInRightMessage {
  from {
    transform: translatex(100%);
  }
  to {
    transform: none;
  }
}

@keyframes fadeInLeftMessage {
  from {
    transform: translatex(-100%);
  }
  to {
    transform: none;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  /* animation: fadeInMessage 1s ease-in-out; */
}

.message-fade-in {
  animation: fadeInLeftMessage 0.5s ease-in-out;
}
.message-row--own {
  transform: translatex(100%);
  animation: fadeInRightMessage 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__bubble {
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 13px;
  margin-right: 5px;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  margin-right: 0;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s linear;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
  display: flex;
  justify-content: center;
}

.reply .reply__column:last-child {
  position: relative;
  width: 90%;
}

.reply__column:last-child input {
  width: 100%;
  height: 30px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid var(--main-border);
  border-radius: 20px;
  transition: all 0.3s linear;
}

.reply .reply__column:last-child > i,
.reply .reply__column:last-child button {
  position: absolute;
  top: 1px;
  right: 2px;
}

.reply .reply__column:last-child i {
  right: 40px;
  top: 10px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.reply__column:last-child button i {
  opacity: 1;
}
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply .fa-smile-beam,
.reply button,
.reply .reply__column:first-child {
  transition: opacity 0.4s ease-in-out;
}

.reply:focus-within .fa-smile-beam,
.reply:focus-within button,
.reply:focus-within .reply__column:first-child {
  opacity: 0;
}

.reply:focus-within input {
  width: 98vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
