.alt-header {
  padding: 50px var(--horizontal-space) 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alt-header__title {
  font-size: 2rem;
  font-weight: 600;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.alt-header__column:last-child i{
  margin-left: auto;
  margin-left: 20px;
}